<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="7.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="YamlDotNet" version="16.3.0" manuallyInstalled="true" />
  <package id="mapbox-vector-tile" version="5.2.2" manuallyInstalled="true" />
  <package id="protobuf-net" version="3.2.46" />
  <package id="protobuf-net.Core" version="3.2.46" />
</packages>